﻿@model IEnumerable<Common.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_NotificationsPartial")


<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div>
    <form method="post" action="\Items\ByCategory">
        <input type="text" name="category" />

        @*<select name="category">
                @foreach(Common.Category category in new WebApplication1.Controllers.ItemsController().GetCategories())
                {
                    <option value="@category.Id">@category.Title</option>
                }


            </select>*@


        <input type="submit" value="Submit" />
    </form>
</div>

<form method="post" action="\items\deleteall">
    <table class="table">
        <tr>
            <th><input type="submit" value="Delete All" /></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_Fk)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" value="@item.Id" name="items" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</form>

