﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@Html.Partial("_NotificationsPartial")

<form method="post" action="\bucket\create" enctype="multipart/form-data">
        Select File: <input type="file" name="data" /> <input type="submit" value="upload" />

</form>