﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <a class="navbar-right" href="/Account/Logoff">Log off</a>
    

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
       
    </ul>
   
}
else
{
    <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
