﻿@if (ViewBag.Success != null)
{
<div class="alert alert-success" role="alert">
    @Html.Raw(ViewBag.Success) 
</div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

